{% load static %}
<script>
    var myLocationIcon = "{% static 'riding/images/my_location.logo.png' %}";
</script>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도 메인 페이지</title>
    <link rel="stylesheet" href="{% static 'riding/css/map_main.css' %}" />
</head>
<body>
    <main class="main">
        <div class="container">
            <!-- 메뉴 버튼 -->
            <button class="nav-button" aria-label="메뉴 열기" id="menu-button"></button>
            <img class="menu-logo" src="{% static 'riding/images/menu-logo.png' %}" alt="메뉴 아이콘" /></img>
            <!-- 시간 선택 버튼 -->
            <button class="time-button" id="time-button" aria-label="시간 선택"></button>
            <img class="time-logo" src="{% static 'riding/images/time-logo.png' %}" alt="시간 아이콘" /></img>
            <!-- 위치 보기 버튼 -->
            <button class="location-button" id="location-button" aria-label="위치 보기"></button>
            <img class="location-logo" src="{% static 'riding/images/find-location-logo.png' %}" alt="위치 아이콘" /></img>

            <!-- 사용자 프로필 사이드바 불러오기 -->
            {% include 'riding/user_sidebar.html' %}

            <!-- 시간 선택 드롭업 불러오기 -->
            {% include 'riding/time_dropdown.html' %}

            <!-- 참여 드롭업 불러오기 -->
            {% comment %} {% include 'riding/people.html' %}s {% endcomment %}

            <!-- 오버레이 -->
            <div id="overlay" class="overlay"></div>
            <!-- 지도 영역 -->
            <div id="map_container">
                <div id="map_div"></div>
            </div>
        </div>
    </main>

    <!-- Tmap API 스크립트 -->
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey={{ TMAP_API_KEY }}"></script>
    <script>
        const bikeLocations = {{ bike_locations|safe }};
        const parkLocations = {{ park_locations|safe }};
        const museumLocations = {{ museum_locations|safe }};
        const restaurantLocations = {{ restaurant_locations|safe }};
    </script>
    <script src="{% static 'riding/js/map_main.js' %}"></script>
</body>
</html>
