{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'riding/css/party_join.css' %}" />
</head>
<!-- 모임 생성하기 드롭업 -->
<div class="group-create-container" id="group-create-dropup">
    <button id="create-group-btn" class="create-group-btn">
        <img src="{% static 'riding/images/party-generate-logo.png' %}" alt="모임 생성하기">
    </button>
</div>
