<!-- 시간 선택 드롭업 -->
<div class="time-dropdown" id="time-dropdown">
    <ul class="time-selection__list">
        <li class="time-selection__item"><time>09 : 00</time></li>
        <li class="time-selection__item"><time>10 : 00</time></li>
        <li class="time-selection__item"><time>11 : 00</time></li>
        <li class="time-selection__item"><time>12 : 00</time></li>
        <li class="time-selection__item"><time>13 : 00</time></li>
        <li class="time-selection__item"><time>14 : 00</time></li>
        <li class="time-selection__item"><time>15 : 00</time></li>
        <li class="time-selection__item"><time>16 : 00</time></li>
        <li class="time-selection__item"><time>17 : 00</time></li>
        <li class="time-selection__item"><time>18 : 00</time></li>
        <li class="time-selection__item"><time>19 : 00</time></li>
        <li class="time-selection__item"><time>20 : 00</time></li>
        <li class="time-selection__item"><time>21 : 00</time></li>
        <li class="time-selection__item"><time>22 : 00</time></li>
        <li class="time-selection__item"><time>23 : 00</time></li>
    </ul>
</div>