{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>같이따릉</title>
    <link rel="stylesheet" href="{% static 'users/css/splash.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'users/images/bike_logo.png' %}" alt="같이따릉 로고" class="logo">
        </div>
        <a href="{% url 'users:login' %}" class="start-button">시작하기</a>
    </div>
</body>
</html>